
/* css for bride2be */
.section-title.lines h2 {
    background: #ffffff;
}
.fancybox-skin {
    background: #ffffff; 
}
@media screen and (max-width: 980px) {
.flex-caption.slide1 {
    display: block;
    top: 30%;
}
.flex-caption h2.slide-title {
    font-size: 5vw;
}
.flex-caption .cta {
    margin-top: 0%;
}
.flex-caption .cta a {
    font-size: 2vw;
}
}
@media screen and (max-width: 500px) {
.flex-caption.slide1 .cta {
    padding: 5px 10px;
}
}
